CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
GROQ_API_KEY=
JWT_SECRET=
ADMIN_USERNAME=adminbrand@gmail.com
MONGO_URI=
OPENROUTER_API_KEY=
PORT=5000
RAPIDAPI_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
UNREALSPEECH_API_KEY=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=
SENTRY_DSN=
